.user_profile{
    width: 800px;
    margin: auto;
    max-width: 90vw;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(184, 184, 184);
    border-radius: 12px;
    padding: 12px;
}
.signedOut{
    text-align: center;
    color: red;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    margin: auto;
    box-shadow: 0px 0px 20px 5px red;
}
.user_profile_container h3 p{
    font-family: 'Alegreya SC';font-size: 22px;
}
.profile_header>h2{
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Sarala';
}
.user_profile_container p{
    color: rgb(8, 23, 92);
}
.upper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    position: relative;
}
.primary_data{
    padding: 5px;
    width: 80%;
}
.dp{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px white solid;
    box-sizing: border-box;
}
.dp img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.lower{
    padding: 5px;
}
.user_profile_data{
    border-bottom: 3px white solid;
    position: relative;
}
.user_profile_data>input{
    outline: none;
    border: none;
    font-family: "Sarala";
    padding: 5px;
    margin: 8px;
}
.edit-button{
    padding: 4px;
    color: white;
    background-color: rgb(20, 39, 63);
    width: 50px;
    font-size: 14px;
    text-align: center;
    border-radius: 12px;
    font-family: 'Sarala';
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 6px 8px 1px grey;
    cursor: pointer;
}
.edit-button:hover{
    transition: 0.2s;
    box-shadow: 0px 16px 18px 1px grey;
    transform: scale(1.1);
}
.delete-button{
    padding: 4px;
    color: white;
    background-color: rgb(90, 23, 14);
    font-size: 14px;
    text-align: center;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Sarala';
    position: absolute;
    bottom: 10px;
    right: 90px;
    box-shadow: 0px 6px 8px 1px grey;
    cursor: pointer;
}
.delete-button:hover{
    transition: 0.2s;
    box-shadow: 0px 16px 18px 1px grey;
    transform: scale(1.1);
}
@media only screen and (max-width:550px){
    .edit-button,.delete-button{
        position: relative;
        width: 120px;
        bottom: 0px;
        right: 0px;
    }
    .user_profile_data{
        text-align: center;
        border-bottom: none;
    }
    .edit-delete{
        position: relative;
        left: 0px;
        width: 300px;
        display: flex;
        justify-content: space-evenly;
    }
}