.ChatBox{
    min-height: 60vh;
    background-color: aliceblue;
}

.ChatHeader{
    text-align: center;
    font-family: "Sarala";
    font-size: larger;
}

.ChatCredential{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ChatCredential > input{
    margin: 12px;
    font-family: 'Sarala';
    border: 2px grey solid;
    outline: none;
    padding: 4px;
}
.ChatCredentialAction{
    display: flex;
    justify-content: center;
}
.ChatCredentialAction > button{
    cursor: pointer;
    width: 60px;
    outline: none;
    height: 60px;
    margin: 0px;
    border: none;
    background:linear-gradient(rgb(46, 101, 150),rgb(19, 132, 189)) ;
}
.ChatCredentialAction > button:hover{
    transition: 0.3s;
    filter: brightness(150%);
}

/* Chat Console */
.ChatConsole{
    min-height: 60vh;
    background-color: aliceblue;
    padding-bottom: 20px;
}
.leaveChat{
    width: 90px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.chatConcoleHeader{
    text-align: center;
    font-family: 'Sarala';
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.chatAxxlogo{
    width: 400px;
    height: 100px;
    background: url('./../../../Media/IMAGES/chatAxx.svg');
    background-size: 100%;
    background-position: 50%;
}
.chatterDetails{
    text-align: center;
    font-family: 'Sarala';
    margin: 12px;
}
.sender{
    margin-top: 30px;
}
.sender > input{
    display: block;
    outline: none;
    border:none;
    background: none;
    width: 80%;
    border-bottom: 2px grey solid;
    padding: 4px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
} 
.mic{
    text-align: center;
    outline: none;
    border: none;
    background-color: rgb(43, 118, 165);
    color: white;
    width: 70px;
    font-size: larger;
    padding: 4px;
    margin: auto;
}
.MessageContainer{
    width: 800px;
    height: 400px;
    overflow-y: scroll;
    max-width: 90vw;
    box-shadow: 0px 20px 30px 2px rgb(177, 177, 177),inset 0px 0px 8px 1px grey;
    margin: auto;
    margin-top: 10px;
}
.eachMessageContainer{
    width: 100%;
}
.eachMessage{
    border-radius: 10px;
    max-width: 45%;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    box-shadow: 0px 5px 7px 1px rgb(179, 179, 179);
}
.eachMessage>.eachMessageSender{
    font-size: 12px;
    color: gray;
}
.alignRight{
    margin-left: auto; 
    margin-right: 10px;
    background-color: rgb(161, 236, 211);
}


.loader{
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.loader>div{
    width: 60px;
    height: 60px;
    border-top: 4px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 150px;
    animation: loaderpls infinite 1s linear;
    box-sizing: border-box;
}

@keyframes loaderpls {
    0%{
        border-top: 4px solid black;
        transform: rotate(0deg);
    }
    25%{
        border-top: 4px solid rgb(73, 72, 72);
        transform: rotate(90deg);
    }
    50%{
        border-top: 4px solid rgb(40, 66, 109);
        transform: rotate(180deg);
    }
    75%{
        border-top: 4px solid rgb(19, 146, 131);
        transform: rotate(270deg);
    }
    100%{
        border-top: 4px solid black;
        transform: rotate(360deg);
    }
}