.loading{
    width: 100px;
    height: 100px;
    border-bottom: 24px solid green;
    border-radius: 50%;
    animation: loading infinite linear 1s;
    margin-left: 45vw;
}
@keyframes loading{
    0%{
        transform: rotate(120deg);
    }
    50%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(120deg);
    }
}
.allsampleproducts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}