.about{
    padding-bottom: 40px;
}
.shadow{
    position: relative;
    margin:100px auto  0;
    width: 800px;
    height: auto;
    background: linear-gradient(0deg,#000,#262626);
    text-align: center;
    max-width: 80vw;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    /* z-index: 12; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.shadow:before,.shadow:after,.shadow2:before,.shadow2:after{
    content:'' ;
    position: absolute;
    top: -2px;
    left: -2px;
    background:linear-gradient(45deg,blue,red,yellow,cyan,purple) ;
    background-size: 400%;
    width: calc(100% + 4px);
    height:calc(100% + 4px) ;
    z-index: -1;
    animation: animate 20s linear infinite;
}
.shadow:after,.shadow2:after{
    filter: blur(20px);
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 500% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.shadow>p,h3{
    color: white;
    font-size: larger;
    font-family: arial;
    margin-top: 10px;
    word-spacing: 10px;
}
.creator{
    border-bottom: 3px cyan solid;
    margin-top: 10px;
}
.creator>h2{
    color: aqua;
}
.c1{
    text-align: left;
}
.c2{
    text-align: right;
}
.c3{
    text-align: left;
}
.bio{
    font-size: 12px;
    font-style: italic;
    color: rgb(106, 96, 96);
}
.role{
    color: white;
}