*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background: #f1d145;
    height: 100px;
    z-index: 2000;
}
.logo{
    position: relative;
    left: 50px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.logo img{
    width: 100%;
    height: 100%;
}
.links{
    width: 40%;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100px;
    padding-top: 10px;
    transition: 0.3s;
}
.links span,.logout{
    border-bottom: 2px rgb(38, 68, 99) solid;
    padding: 2px;
    font-size: large;
    font-family: 'Sarala';
    font-weight: bold;
    border-radius: 10px;
    transition: 0.1s linear;
    cursor: pointer;
    margin: 6px;
    height: 20px;
}
.logout{
    margin: 8px;
    padding-bottom: 5px;
}
.logout:hover{
    padding-bottom: 8px;
}
.links span:hover{
    padding-bottom: 8px;
}
.menubar{
    display: none;
    font-size: 70px;
    position: absolute;
    top: 10px;
    right: 20px;
}
@media only screen and (max-width: 580px) {
    .links{
        display: block;
        justify-content: center;
        top:0px;
        height: 0px;
        z-index: -10;
        right: 0px;
        padding: 0px;
        width: 100vw;
        /* background-color: #f1d145; */
        background: linear-gradient(#f1d145,white);
        transition: 0.3s;
        padding-bottom: 5px;
        filter: opacity(0%);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .links span{
        padding: 5px;
        padding-bottom: 8px;
        display: block;
        text-align: center;
        width: 90vw;
        border: none;
        border-bottom: 2px green solid;
        border-radius: 0px;
        margin: auto;
    }
    .menubar{
        display: block;
    }
    .active{
        transition: 0.3s;
        height: 150px;
        display: block;
        top:100px;
        z-index: 1000;
        filter: opacity(100%);
        background-color: white;
    }
    Link{
        position: absolute;
    }
    .logout{
        margin-top: 10px;
        text-align: center;
        width: 100px;
        background-color: rgb(236, 77, 14);
        color: white;
        margin: auto;
        border: none;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 8px;
    }
  }
